<md-toolbar class="{{ ::$ctrl.styles.toolbar }}">
  <div layout="row" layout-align="center start">
    <book-details-header flex="100" flex-gt-sm="80" flex-gt-md="60" data-book="$ctrl.book"></book-details-header>
  </div>
</md-toolbar>
<div layout="row" layout-align="center start">
  <md-content style="margin-top: -20px" ng-class="$ctrl.styles.content" class="md-whiteframe-5dp" flex="100" flex-gt-sm="80" flex-gt-md="60" layout="column" layout-fill layout-align="start center">

    <section layout="column" layout-fill layout-align="center start" layout-padding>
      <h3 class="md-display-2">Introduction</h3>
      <p class="md-body-1" ng-repeat="introduction in $ctrl.book.introduction track by $index">
        {{ ::introduction.content }}
      </p>
    </section>

    <section class="{{ ::$ctrl.styles.avatar }}" layout="column" layout-fill  layout-align="start center">
      <hr/>
      <img flex ng-src="{{ ::$ctrl.book.author.avatar }}" class="md-avatar" alt="{{::$ctrl.book.author.name}}" />
      <h4 class="md-title">by {{::$ctrl.book.author.name}}</h4>
    </section>

    <section ng-class="$ctrl.styles.similar" layout="column" layout-fill  layout-align="start center">
      <h2 class="md-display-1">Similar reading</h1>
      <h4 class="md-subhead">If you liked this book, we recommend you check out these emerging titles.</h3>
      <div flex="80" layout="row" layout-align="center start" layout-fill layout-wrap>
        <book-card ng-repeat="book in $ctrl.similar track by book.id" flex="100" flex-gt-sm="50" flex-gt-md="30" data-book="book"></book-card>
      </div>
    </section>
  </md-content>
</div>
