$avatar-size: 150px;
$avatar-margin: 50px;

.avatar {
  text-align: center;

  hr {
    width: $avatar-size * 1.4;
  }

  img {
    height: $avatar-size;
    width: $avatar-size;
    border-radius: 50%;
    margin-top: $avatar-margin;
  }
}
